body  {
	background: hsl(0, 79%, 75%)
}

#doce {
	width: 50%;
}

h1 {
	text-align: center;
	
}
p{
   text-align: center
}

#missão {
	font-size:20px
}

em strong {
	color: #FF007F;
}
